<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz" default="true" />
  
  <arg name="configfile" default="$(find covgrid_slam)/config/config16_2.xml" />

  <arg name="logdir" default="--log_dir=/home/jkj/catkin_ws/log" />
  <arg name="glogparam" default="--logtostderr=0  --colorlogtostderr=1 --stderrthreshold=5   $(arg logdir)" />

  <node pkg="covgrid_slam" type="masternode" name="masternode" args="$(arg glogparam)" output="screen">
  	<param name="config_file" value="$(arg configfile)"/>
  </node>

  <node pkg="covgrid_slam" type="scanRegistration" name="scanRegistration" args="--logtostderr=0  --colorlogtostderr=1  --stderrthreshold=5  $(arg logdir)" output="screen">
  	<param name="config_file" value="$(arg configfile)" />
  </node>
  
  <node pkg="covgrid_slam" type="laserOdometry" name="laserOdometry" args="$(arg glogparam)" output="screen" respawn="true">
  </node>

  <node pkg="covgrid_slam" type="laserMapping" name="laserMapping" args="--logtostderr=0  --colorlogtostderr=1 --stderrthreshold=5   $(arg logdir)" output="screen">
  <param name="updatemap" value="true" />
  <param name="savemap" value="false" />
  <param name="readmap" value="false" />
  <param name="readmapdir" value="/home/jkj/catkin_ws/src/covgrid_slam/map/2017-09-18_18-35-46" />
  <param name="dissquarethre" value="1.0" />
  </node>
  
  <node pkg="covgrid_slam" type="transformMaintenance" name="transformMaintenance" args="$(arg glogparam)" output="screen"/>

  <node pkg="covgrid_slam" type="getrslidardata" name="getrslidardata" args="--logtostderr=0  --colorlogtostderr=1  --stderrthreshold=5  $(arg logdir)" output="screen">
  </node>
  
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find covgrid_slam)/rviz_cfg/covgrid_slam.rviz" />
  </group>

</launch>
