<?xml version="1.0" encoding="UTF-8"?>
<launch>





<!--  视频接收，</-->

  <node pkg="vedio_recv" name="vedio_recv" type="vedio_recv" output="screen">
	<param name="port2" type="int" value="9999" />
	<param name="port" type="int" value="6667" />
  </node>


<!--  任务文件发送   port
  <node pkg="task_sender" name="txtSender.py" type="txtSender.py" output="screen">
        <param name="port" value="6666" />
  	<param name="ip" type="string" value="192.168.10.100" />	

  </node>
</-->
<!--  检测结果发送结果接收</-->
  <node pkg="tcp_server" name="tcp_server_node" type="tcp_server_node" output="screen">
	<param name="port" type="int" value="6668" />
	<param name="local_dir" type="string" value="/home/zx/桌面/data/local/" />
  </node>

</launch>
