<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <param name="ip" type="string" value="192.168.8.119" />




<!--  任务文件接收，参数需要进文件里改  主要是ip port</-->
  <node pkg="task_sender" name="txtReceiver.py" type="txtReceiver.py" output="screen">
        <param name="port" value="6666" type = "int" />
        <param name="frame_id" value="base_link" />
  </node>



</launch>
