<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!--  此ip为视频发送的目标ip , 即指挥所电脑ip  </-->
  <param name="ip" type="string" value="192.168.1.8" />


<!--  视频传输</-->

  <node pkg="vedio_send" name="vedio_send" type="vedio_send" output="screen">
        <param name="frame_id" value="base_link" />
	<param name="port2" type="int" value="9999" />
	<param name="port" type="int" value="6667" />
  </node>

  <node pkg="screen_cap" name="screen_cap" type="t.py" output="screen">
        <param name="frame_id" value="base_link" />
  </node>

<!--  selfip 是本机的ip ，
  <node pkg="task_sender" name="txtReceiver.py" type="txtReceiver.py" output="screen">
        <param name="port" value="6666" type = "int" />
        <param name="selfip" value="192.168.10.102" type = "string" />
  </node>
 </-->
<!--  检测结果发送结果发送,并将检测结果保存到优盘 
  <node pkg="tcp_client" name="tcp_client_node" type="tcp_client_node" output="screen">
        <param name="frame_id" value="base_link" />
	<param name="port" type="int" value="6668" />
	<param name="udisk_dir" type="string" value="/home/zx/桌面/data/udisk/" />
  </node>
</-->
</launch>
